/* ================= Dried ================== */
.dried .main {
    font-size: 22px;
}

.dried .cd {
    font-size: 18px;
    color: #adafb7;
}

/* ================= Dried-content ================== */
.dried-content .name-menu {
    font-size: 22px;
    font-weight: 700;
}

#juicePage .jucie-content .price-j {
    background-color: #f5f6f8;
}

.dried-content .card .card-title {
    font-size: 28px;
    font-weight: 500;
}

.dried-content .card .card-text {
    font-size: 18px;
}

.dried-content .card {
    border-radius: 0;
}

.dried-content .card-body a {
    background-color: #45bb0c;
    color: #fff;
    left: 37%;
    bottom: -16%;
}

.dried-content .pagination .page-item:first-child .page-link {
    margin: 50px 0;
    border: none;
    border-radius: 0;
    color: #adafb7;
}

.dried-content .page-item:not(:first-child) .page-link {
    margin: 50px 0;
    border: none;
    border-radius: 0;
    color: #adafb7;
}

.dried-content .page-item.active .page-link {
    background-color: #45bb0c;
    color: #fff;
}

/* ================= Join ================== */

.join {
    background: #45bb0c;
}

.join h2 {
    padding: 100px 0 0 0;
    font-size: 36px;
}

.join p {
    font-size: 22px;
    margin: 50px 0;
}

.join .join-btn {
    padding: 8px 30px;
    color: #45bb0c;
    background: #fff;
}


/* ====================== HOMEPAGE ========================== */
#homePage .banner {
    background-image: url(../img/bg/v-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homePage .intro {
    padding: 180px 0px;
}

#homePage .banner .title {
    color: #45bb0c;
    font-size: 56px;
}

#homePage .banner .text {
    color: #fff;
    font-size: 28px;
}

/* ===============fruit================ */
.fruit {
    /* background-color: #f6f7f9; */
}


.fruit .swiper {
    overflow: visible;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -50px!important;
    left: 0px;
    width: 100%;
}

/* ================saleOff================= */
#homePage .saleOff .img-sale {
    object-fit: cover;
}

/* ===========onlySale============== */
#homePage .onlySale .bg-sale {
    background-image: url(../img/landing-layer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#homePage .onlySale .title {
    color: #45bb0c;
}

#homePage .onlySale .fruit {
    padding: 80px 0;
}

#homePage .fresh-fruit {
    background-color: #242834;
}

/* ============blog=========== */
#homePage .blog .carousel-indicators {

    bottom: -65px;
}

.carousel-indicators [data-bs-target] {
    height: 6px;
    background-color: #45bb0c;
}

#homePage .blog .active {}

/* ==================JUCIE PAGE================== */
#juicePage .jucie-content .search {
    display: unset;
}

#juicePage .jucie-content .form-control {
    border-radius: 0px;
}

#juicePage .jucie-content .search .btn-green {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #45bb0c;
}

#juicePage .jucie-content .active>.page-link,
.page-link.active {
    color: var(--bs-pagination-active-color);
    background-color: #45bb0c;
    border-color: #45bb0c;
}

#juicePage .jucie-content .page-link {
    color: #adaeb5;
}

/* ============Event============ */
.event {
    background-image: url(../img/bg/bg-page-title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.event .btn-green {
    background-color: #fff;
    color: #45bb0c;
}

/* ===========total-sale============= */
#juicePage .total-content {
    top: 0px;
}

#juicePage .total-sale .btn-green {
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

/* ===============PREVIEW================= */
#preView .assess .imgLeft {
    object-fit: cover;
}

/* =======sao đánh giá====== */
div.stars {
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

/* =======tăng giảm số lượng======== */
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:20px 0 0 20px;
}
.is-form.plus {
    border-radius:0 20px 20px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.tab-content>.active {
    border-bottom: 1px solid #dee2e6;
}
#preView .fruit{
    background-color: #f6f7f9;
    visibility: hidden;
    visibility: visible;
}
/* ===========review========== */
label.star {
    float: none;
    padding: 0px;
    font-size: 16px;
    color: #444;
    transition: all .2s;
}
#menu1 .rightSide{
    border-left: 1px solid #dee2e6;
}
/* =============WISHCART============= */
table {
    width: 100%;
}
td,th{
    padding: 15px;
}
#wishcart .totalPrice .img-side{
    object-fit: contain;
}
.border-bt{
    border-bottom: 1px solid #dee2e6;
}
#wishcart .totalPrice .form-control{
    border-radius:  20px 0px 0px 20px;
}
#wishcart .totalPrice .btn-outline-success{
    border-radius:  0px 20px 20px 0px;
    background-color: #45bb0c;
    border: #45bb0c;
}
/* ============shipping=============== */
.form-check-input:checked[type=checkbox] {
    background-image: none;
}
.form-check-input:checked {
    background-color: #45bb0c;